body {
    background: url('/Imagens/fundo.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    margin: 0;
    padding: 0;
}

.custom-navbar {
    background-color: black;
    position: relative;
    font-size: 1.5rem;
    padding: 15px 30px;
    font-family: 'Poppins', sans-serif; 
    margin-bottom: 30px; 
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    width: 100%; 
}

.custom-card {
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 20px 10px;
    margin-top: 50px;
    flex-direction: column;
    display: flex;
    background: rgba(255, 255, 255, 0.9);
    width: 100%; 
}

.card-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center; 
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    margin-top: 50px;
}

.custom-btn {
    background-color: #4b8e23;
    color: white;
    font-weight: bold;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: 5px;
    width: 110px; 
    transition: width 0.3s ease; 
}

.custom-btn:hover {
    background-color: #3e6b1f;
}

input[type="file"] {
    padding: 6px 10px;
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: 5px;
    border: none;
    min-width: 150px; 
    width: 100%; 
    max-width: 350px; 
    overflow: hidden;
}

#uploadedImage {
    width: 250px; 
    height: 250px; 
    display: flex;
    background-color: #f0f0f0; 
    border: 2px dashed #ccc; 
    margin: 20px auto; 
    justify-content: center;
    align-items: center;
}

#webcam-container {
    display: flex;
    width: 250px;
    height: 250px;
    background-color: #f0f0f0;
    border: 2px dashed #ccc;
    justify-content: center;
    align-items: center;
    
    margin: 20px auto;
}

#webcam-container canvas { 
    width: 100%;
    height: 100%;
    object-fit: contain; 
}


#uploadedImage img {
    display: none; 
    width: 100%;
    height: 100%;
    object-fit: contain; 
}

#label-container {
    text-align: center;
    padding-top: 30px;
    margin-top: auto;
    width: 100%;
}
.custom-footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    width: 100%;
    margin-top: auto;
}